/* Enter your custom styles here */

.page .splitApp .tree .overFlowBar .barClass {
    background-color: white;
    box-shadow: none;
}

/* .page .splitApp .tree .overFlowBar .barClass .add span span{
    height: 150%;
} */