.sideBar1 {
    display: inline-block;
    background-color: #3d3c3c;
    height: 112px;
    border-radius: 10px;
    padding: 8px 12px;
    bottom: 583px;
    left: 10px;
}

.homeIcon {
    background-color: #3d3c3c;
    color: white;
    font-size: 150%;
}

.homeIconAtSearch {
    background-color: #3d3c3c;
    color: #7f8c8d;
    font-size: 150%;
}

.sideBar1 .searchIcon {
    background-color: #3d3c3c;
    color: #7f8c8d;
    font-size: 150%;
}

.searchIconsAtSearch {
    background-color: #3d3c3c;
    color: white;
    font-size: 150%;
}

.homeContent {
    background-color: #3d3c3c;
    padding: 10px;
    border: 0px;
}

.sideBar1 .text {
    color: white;
    margin-left: 25px;
    font-weight: bolder;
}

.sideBar1 .textAtSearch {
    color: #7f8c8d;
    margin-left: 25px;
    font-weight: bolder;
}

.sideBar1 .text2 {
    color: #7f8c8d;
    margin-left: 25px;
    font-weight: bolder;
}

.sideBar1 .text2AtSearch {
    color: white;
    margin-left: 25px;
    font-weight: bolder;
}

.yourLibary {
    background-color: #3d3c3c;
    padding: 10px;
    border: 0px;
}

.sideBar2 {
    display: inline-block;
    background-color: #3d3c3c;
    height: 813px;
    border-radius: 10px;
    padding: 8px 12px;
    right: 351px;
    top: 125px;
}

.sideBar2 .icon,
.sideBar2 .icon2 {
    background-color: #3d3c3c;
    color: #7f8c8d;
    font-size: 150%;
}

.sideBar2 .icon2 {
    left: 125px;
}

.sideBar2 .text {
    color: #7f8c8d;
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight: bolder;
}

.box1 {
    background-color: rgb(72, 72, 73);
    width: 330px;
    height: 128px;
    border-radius: 10px;
    border: none;
    margin: 8px 0px;
    margin-top: 29px;
    padding: 16px 20px;
}

.box1 .text1 {
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    font-size: medium;
    font-weight: bold;
    margin: 5px;
    color: white;
}

.box1 .text2 {
    margin: 5px;
    color: white;
}

.box1 .button {
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    width: 134px;
    height: 32px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    margin: 5px;
    color: white;
}

.box2 {
    margin-top: 290px;
    background-color: #3d3c3c;
    border: none;
    color: white;
}

.box2 .text {
    color: #7f8c8d !important;
    font-size: 0.6875rem;
    font-weight: 400;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
    color: inherit;
    color: white;
}

.box2 .button1 {
    left: 20px;

}

.box2 .button1 span {
    color: white;
    background-color: #3d3c3c;
}

.mainList {
    display: inline-block;
    background-color: rgb(50, 48, 48);
    /* background-color: red; */
    height: 928px;
    border-radius: 10px;
    padding: 8px 12px;
    left: 375px;
    bottom: 20px;
    position: absolute;
}

.mainList .topBar {
    position: fixed;
    border-radius: 10px;
    height: 50px;
    width: 1540px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    left: 375px;
    top: 8px;
}

.mainList .topBar .arrowContain {
    width: 72px;
    height: 100%;
    border: none;
}

.mainList .topBar .bar {
    background-color: transparent;
    border: none;
}

.mainList .topBar .leftArrow,
.mainList .topBar .rightArrow {
    left: 20px;
    padding-top: 4px;
    font-size: 150%;
    border-radius: 50%;
    color: #7f8c8d;
    background-color: black;
    margin: 5px;
    height: 32px;
    width: 32px;
}

/* .mainList .topBar .buttonContain {
    border: 2px solid red;
    background-color: rgba(0, 0, 0, 0.7);
    width: 250px;
    left: 1205px;
} */

.mainList .topBar .Sign_up span,
.mainList .topBar .Log_in span {
    top: 7px;
    left: 900px;
    color: #7f8c8d;
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.mainList .topBar .Log_in span {
    top: 1px;
    left: 910px;
    border-radius: 30px;
    color: black !important;
    height: 35px;
    width: 109px;
}

.mainList .topBar .Log_in span>* {
    padding-top: 3px;
}

.mainList .focusBar {
    top: 75px;
    border: none;
}

.mainList .focusBar .focus_text {
    color: white;
    display: inline-block;
    width: 1516px;
    background-color: rgb(50, 48, 48);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.mainList .focusBar .focus {
    background-color: rgb(50, 48, 48);
    /* border: 2px solid red; */
    height: 300px;
}

.mainList .focusBar .focus .focus_Card {
    background-color: rgba(50, 48, 48);
    margin-left: 30px;
    margin-top: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* border: 2px solid blueviolet; */
}

.mainList .focusBar .focus .focus_Card:hover {
    background-color: rgb(80, 77, 77);
    cursor: pointer;

    .play {
        visibility: visible !important;
    }
}

.mainList .focusBar .focus .focus_Card .card {
    /* border: 2px solid red; */
    position: relative;
    height: 243px;
    width: 153px;
    margin: 12px 0px 0px 14px;
}

.mainList .focusBar .focus .focus_Card .card .image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.mainList .focusBar .focus .focus_Card .card .texts {
    /* border: 2px solid red; */
    height: 80px;
}

.mainList .focusBar .focus .focus_Card .card .texts .mainTittle {
    color: white;
    padding: 10px 0px 6px;
    font-weight: bold;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.mainList .focusBar .focus .focus_Card .card .texts .miniTittle {
    color: #7f8c8d;
}

.mainList .focusBar .focus .focus_Card .card .play {
    background-color: rgb(136, 254, 136);
    position: absolute;
    top: 97px;
    left: 100px;
    z-index: 50;
    border-radius: 70%;
    rotate: 90deg;
    visibility: hidden;
}

.mainList .topBar .input {
    left: 20px;
}

.mainList .topBar .input #container-spotify---View2--input-content {
    top: 6px;
    padding-left: 40px;
    border-radius: 30px;
    height: 38px;
    background-color: rgb(50, 48, 48);
}

.mainList .topBar .input span {
    top: 6px;
    right: 320px;
    font-size: 120%;
    color: white;
}

.mainList .topBar .input_Home {
    visibility: hidden;
}

.mainList .mainText {
    top: 64px !important;
    background-color: rgb(50, 48, 48);
    border: none;
}

.mainList .mainText {
    margin-left: 35px;
}

.mainList .mainText .browse_all {
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.mainList .types {
    top: 85px;
    background-color: rgb(50, 48, 48);
    border: none;
}

.mainList .types .allTypesList .Rows .firstRow {
    background-color: rgb(50, 48, 48);
}

.mainList .types .allTypesList .Rows {
    border: none;
}

.mainList .types .allTypesList .Rows .firstRow .card {
    margin-left: 30px;
    position: relative;
}


.mainList .types .allTypesList .Rows .firstRow .card .mainText {
    color: white;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family, CircularSpTitle, CircularSpTitle-Tall, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif));
}

.mainList .types .allTypesList .Rows .firstRow .card .card_box span {
    margin-top: 15px;
    margin-left: 15px;
}

.mainList .types .allTypesList .Rows .firstRow .card .card_box .image {
    position: absolute;
    top: 45px;
    left: 95px;
    z-index: 50;
    rotate: 20deg;
}

.mainList .types .allTypesList .Rows .firstRow .podcasts {
    background-color: rgb(39, 133, 106);
}

.mainList .types .allTypesList .Rows .firstRow .madeforyou {
    background-color: rgb(30, 50, 100);
}

.mainList .types .allTypesList .Rows .firstRow .charts {
    background-color: rgb(141, 103, 171);
}

.mainList .types .allTypesList .Rows .firstRow .newReleases {
    background-color: rgb(232, 17, 91);
}

.mainList .types .allTypesList .Rows .firstRow .discover {
    background-color: rgb(141, 103, 171);
}

.mainList .types .allTypesList .Rows .firstRow .liveEvents {
    background-color: rgb(115, 88, 255);
}

.mainList .types .allTypesList .Rows .firstRow .bollywood {
    background-color: rgb(180, 155, 200);
}

.mainList .types .allTypesList .Rows .firstRow .punjabi {
    background-color: rgb(240, 55, 165);
}

.mainList .types .allTypesList .Rows .firstRow .tamil {
    background-color: rgb(156, 240, 225);
}

.mainList .types .allTypesList .Rows .firstRow .telugu {
    background-color: rgb(215, 242, 125);
}

.mainList .types .allTypesList .Rows .firstRow .radar {
    background-color: rgb(115, 88, 255);
}

.mainList .types .allTypesList .Rows .firstRow .equal {
    background-color: rgb(20, 138, 8);
}

.mainList .types .allTypesList .Rows .firstRow .gaming {
    background-color: rgb(232, 17, 91);
}

.mainList .types .allTypesList .Rows .firstRow .indie {
    background-color: rgb(141, 103, 171);
}

.spacer {
    background-color: rgb(50, 48, 48);
}


/* LogIn Page */

.logInBody {
    background-color: rgba(0, 0, 0, 0.7);
}

.logInBody .mainHeader {
    background-color: rgba(0, 0, 0, 0.9) !important;
    border: none;
}

.logInBody .mainHeader .spotifyImage {

    display: inline-block;
}

.logInBody .mainHeader .spotifyText {

    display: inline-block;
    color: white;
    font-size: larger;
    font-weight: 400;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif)), Helvetica, Arial, sans-serif;
}

.logInBody .card {
    background-color: rgba(0, 0, 0, 0.9);
    left: 30%;
    top: 10%;
}

/* .logInBody .card .cardContent{

} */
.logInBody .card .cardContent .mainText {
    height: 18%;
    width: 100%;
    color: white;
    font-size: 42px;
    font-weight: bold;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 170px;
    font-family: var(--font-family, CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif)), Helvetica, Arial, sans-serif;
}


.logInBody .card .cardContent .links .linkItem {
    margin-top: 10px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 30px;
    margin-left: 22%;
    height: 48px;
    width: 324px;
    border: 1px solid rgb(113, 112, 112);
}

.logInBody .card .cardContent .links .linkItem .linkBox>* {
    display: inline-block;
}

.logInBody .card .cardContent .links .linkItem .linkBox .text {
    color: white;
    font-size: 17px;
    margin-top: 13px;
    margin-left: 40px;
}

.logInBody .card .cardContent .links .linkItem .linkBox .phoneNumber {
    margin-left: 20px;
}

.logInBody .card .cardContent .links .linkItem .linkBox .icon {
    margin-top: 9px;
    margin-left: 20px;
}

.logInBody .card .cardContent .form {
    margin-left: 23%;
    margin-top: 3%;
}

.logInBody .card .cardContent .form div {
    background-color: rgba(0, 0, 0, 0.1);
}


.logInBody .card .cardContent .form .formContent .box {
    margin-top: 4%;
    height: 100%;
}

.logInBody .card .cardContent .form .formContent .box input {
    width: 100%;
    height: 100%;
}

.logInBody .card .cardContent .form .formContent .box .text {
    margin-top: 5px;
}

.logInBody .card .cardContent .form .formContent .box .logInButton {
    width: 100%;
}